export consumer_key_usagers=f8fee29a-0071-4c10-bb35-aa1887b3ea00
export consumer_key_agents=f8fee29a-0071-4c10-bb35-aa1887b3ea00
export consumer_secret_usagers=a25e93e5-9cb1-49b6-aab4-e4c60c16d352
export consumer_secret_agents=a25e93e5-9cb1-49b6-aab4-e4c60c16d352
export authentic_usagers_hostname=usagers.staging.imio.be
export authentic_agents_hostname=agents.staging.imio.be
export service_ou=80265465464
export service_slug=localhost
export application_id=iaweb
