export consumer_key_usagers=01234
export consumer_key_agents=f759551b-a7cb-4d21-84e7-dd6a571181bd
export consumer_secret_usagers=56789
export consumer_secret_agents=25ea901a-bd2d-495f-81a4-bdd6012a855f
export authentic_usagers_hostname=usagers.staging.imio.be
export authentic_agents_hostname=agents.staging.imio.be
export service_ou=0841470248
export service_slug=liege-iasmartweb-local
export application_id=iasmartweb
export ENV=test
