export consumer_key=f8fee29a-0071-4c10-bb35-aa1887b3ea00
export consumer_secret=a25e93e5-9cb1-49b6-aab4-e4c60c16d352
export authentic_usagers_hostname=usagers.staging.imio.be
export authentic_agents_hostname=agents.staging.imio.be
export OU=myou
export application_id=iaweb
